
<h1>Staffs List</h1>

<%= link_to 'New staff', new_staff_path , class: "btn btn-default" %>

<table class="table" style="margin-top: 30px">
  <thead>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Phone No.</th>
  </tr>
  </thead>

  <tbody>
  <% @staffs.each do |staff| %>
      <tr>
        <td><%= link_to staff.name, staff_path(staff) %></td>
        <td><%= staff.email %></td>
        <td><%= staff.phone %></td>
        <td><%= link_to 'Destroy', staff_path(staff),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>