<p>
  <strong><%= comment.commenter %> :</strong>   <%= comment.body %> <%= link_to 'X', [comment.candidate, comment],
                                                                                method: :delete,
                                                                                data: { confirm: 'Are you sure?' } %>
</p>