
<h1>Candidates List</h1>

<%= link_to 'New Candidate', new_candidate_path , class: "btn btn-default" %>

<table class="table" style="margin-top: 30px">
  <thead>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Phone No.</th>
  </tr>
  </thead>

  <tbody>
  <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, candidate_path(candidate) %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= link_to 'Destroy', candidate_path(candidate),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>