<%= form_for :candidate, url: candidates_path do |f| %>

    <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@candidate.errors.count, "error") %> prohibited
            this candidate from being saved:
          </h2>
          <ul>
            <% @candidate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <p class="form-inline">
        <%= f.label :name %>
        <a id="add_form_50"><%= f.text_field :name, {class: 'form-control' , :style => "max-width: 340px;"} %></a>
      </p>
      <p class="form-inline">
        <%= f.label :email %>
        <a id="add_form_50"><%= f.email_field :email, {class: 'form-control' , :style => "max-width: 340px;"} %></a>
      </p>
      <p class="form-inline">
        <%= f.label :gender %>
        <%= f.radio_button :gender, 'male', :checked => true , :style => "margin-left: 35px;" %>
        <%= label :gender_male, 'Male' %>
        <%= f.radio_button :gender, 'female', :style => "margin-left: 20px;" %>
        <%= label :gender_female, 'Female' %>
      </p>
      <p class="form-inline">
        <%= f.label :phone %>
        <a style="margin-left: 45px;"><%= f.text_field :phone, {class: 'form-control' , :style => "max-width: 340px;"} %></a>
      </p>
      <p class="form-inline">
        <%= f.label :address %>
        <a id="add_form_30"><%= f.text_area :address, {class: 'form-control' , :style => "max-width: 340px;"} %></a>
      </p>

      <%= f.check_box :blacklist , class: 'hidden' %>

      <div style="margin-top: 10px;">
        <%= f.submit "Add new candidate", class: "btn btn-success" %>
        <%= link_to 'Back', candidates_path , class: "btn btn-primary" %>
      </div>

    </div>
<% end %>