<%= form_for([@candidate, @candidate.progressions.build]) do |f| %>
    <p>
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </p>
    <p>
      <%= f.label :stage %><br>
      <%= f.text_field :stage %>
    </p>
    <p>
      <%= f.label :position %><br>
      <%= f.text_field :position %>
    </p>
    <p>
      <%= f.label :pre_salary %><br>
      <%= f.text_field :pre_salary %>
    </p>
    <p>
      <%= f.label :expect_salary %><br>
      <%= f.text_field :expect_salary %>
    </p>
    <p>
      <%= f.label :source %><br>
      <%= f.text_field :source %>
    </p>
    <p>
      <%= f.label :source_detail %><br>
      <%= f.text_field :source_detail %>
    </p>
    <p>
      <%= f.label :general_test %><br>
      <%= f.text_field :general_test %>
    </p>
    <p>
      <%= f.label :general_test_checker %><br>
      <%= f.text_field :general_test_checker %>
    </p>
    <p>
      <%= f.label :tech_test %><br>
      <%= f.text_field :tech_test %>
    <p>
      <%= f.label :tech_test_checker %><br>
      <%= f.text_field :tech_test_checker %>
    </p>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>