<p>
  <strong><%= progression.status %> :</strong>  <%= link_to 'X', [progression.candidate, progression],
                                                                                method: :delete,
                                                                                data: { confirm: 'Are you sure?' } %>
</p>