<%= form_for :progression, url: progressions_path do |f| %>

      <p class="form-inline">
        <%= f.label :status %>
        <a id="add_form_30"><%= f.text_area :status, {class: 'form-control' , :style => "max-width: 340px;"} %></a>
      </p>

      <div style="margin-top: 10px;">
        <%= f.submit "Progression", class: "btn btn-success" %>
      </div>

    </div>
<% end %>